/* BASIC STYLES HERE */
body {
    /* background-color: teal; */
    background-image: url("../img/mike-swigunski-k9Zeq6EH_bk-unsplash.jpg");
}

.cal {
    transform: scale(0.90);
}

.ad {
    padding-left: 37px;
}

textarea {
    width: 363px;
    height: 159px;
}